{% extends 'base.html' %}

{% load static %}
 
{% block content %}
<div class="templateux-cover" style="background-image: url({% static 'images/hero_1.jpg' %});">
    <div class="container">
      <div class="row align-items-lg-center">

        <div class="col-lg-6 order-lg-1 text-center mx-auto">
          <h1 class="heading mb-3 text-white" data-aos="fade-up">Hakkımızda</h1>
          <p class="lead mb-5 text-white" data-aos="fade-up"  data-aos-delay="100"> NLP (Doğal Dil İşleme) teknolojisi ile cvleri analiz ederek, kullanıcıların yeteneklerini, deneyimlerini ve ilgi alanlarını anlamak için metin madenciliği tekniklerini kullanıyoruz.
            Amacımız, iş arayanlara uygun iş fırsatlarını hızlı ve etkili bir şekilde sunmak, böylece kullanıcıların kariyer hedeflerine ulaşmalarına yardımcı olmaktır. Uygulamamız, kullanıcıların cv'lerini yüklemelerine ve profil bilgilerini girmelerine olanak sağlar. Ardından, NLP algoritmalarını kullanarak bu bilgileri analiz eder ve kullanıcıların ilgi alanlarına, becerilerine ve deneyimlerine en uygun iş fırsatlarını belirler.</p>
        </div>
        
      </div>
    </div>
  </div><!-- .templateux-cover -->

   
    <div class="templateux-section">

      <div class="container"  data-aos="fade-up">
        <div class="row">
          <div class="col-lg-7">
            <h2 class="mb-5">Kariyer Öneri</h2>
            <div class="owl-carousel wide-slider">
              <div class="item">
                <img src="{% static 'images/slider-1.jpg' %}" alt="" class="img-fluid">
              </div>
              <div class="item">
                <img src="{% static 'images/slider-2.jpg' %}" alt="" class="img-fluid">
              </div>
              <div class="item">
                <img src="{% static 'images/slider-3.jpg' %}" alt="" class="img-fluid">
              </div>
            </div> <!-- .owl-carousel -->
          </div>
          <div class="col-lg-5 pl-lg-5">
            <h2 class="mb-5">Neden Biz?</h2>
            <div class="accordion" id="accordionExample">


              <div class="accordion-item">
                <h2 class="mb-0 rounded mb-2">
                  <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Hassas NLP Analizi</a>
                </h2>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Gelişmiş doğal dil işleme (NLP) algoritmalarıyla kullanıcıların özgeçmişlerini ayrıntılı bir şekilde analiz eder. Bu sayede, kullanıcıların beceri setlerini, deneyimlerini ve ilgi alanlarını anlar ve bu bilgilere dayanarak onlara en uygun iş fırsatlarını sunar.</p>
                  </div>
                </div>
              </div>
              
              <div class="accordion-item">
                <h2 class="mb-0 rounded mb-2">
                  <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Kişiselleştirilmiş İş Önerileri
                  </a>
                </h2>
                
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Kullanıcıların yeteneklerine ve tercihlerine dayalı olarak kişiselleştirilmiş iş önerileri sunar. Bu sayede, kullanıcılar daha hızlı ve etkili bir şekilde ilgilerini çeken iş fırsatlarını keşfedebilir ve başvurabilir.</p>
                  </div>
                </div>
              </div>
              
              <div class="accordion-item">
                <h2 class="mb-0 rounded mb-2">
                  <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Geniş İşveren Ağı
                  </a>
                </h2>
                
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Çeşitli sektörlerden ve iş kollarından gelen geniş bir işveren ağına erişim sağlar. Kullanıcılar, farklı sektörlerdeki ve şirketlerdeki iş fırsatlarını tek bir platformda bulabilir ve bu çeşitlilikten yararlanabilir.</p>
                  </div>
                </div>
              </div>
              
              <div class="accordion-item">
                <h2 class="mb-0 rounded mb-2">
                  <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Güncel İş Fırsatları
                  </a>
                </h2>

                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Sürekli olarak güncellenen iş fırsatları veritabanına sahiptir. Kullanıcılar, en yeni ve güncel iş ilanlarına erişebilir, bu sayede iş arama sürecinde avantajlı konumda olabilir ve hızla değişen iş piyasasındaki fırsatları kaçırmazlar</p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="templateux-section pb-0">
        <div class="container">
          <div class="row text-center mb-5">
            <div class="col-12">
              <h2>Our Team</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
              <div class="staff" class="staff-img" style="background-image: url(images/person_1.jpg);">
                <a href="#" class="desc">
                  <h3>Bob Miller</h3>
                  <span>CEO and Co-Founder</span>
                  <div class="parag">
                    <p>Even the all-powerful Pointing has no control about the blind texts</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
              <div class="staff" class="staff-img" style="background-image: url(images/person_2.jpg);">
                <a href="#" class="desc">
                  <h3>Jean Smith</h3>
                  <span>CEO and Co-Founder</span>
                  <div class="parag">
                    <p>Even the all-powerful Pointing has no control about the blind texts</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
              <div class="staff" class="staff-img" style="background-image: url(images/person_3.jpg);">
                <a href="#" class="desc">
                  <h3>David Wilson</h3>
                  <span>CEO and Co-Founder</span>
                  <div class="parag">
                    <p>Even the all-powerful Pointing has no control about the blind texts</p>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
              <div class="staff" class="staff-img" style="background-image: url(images/person_1.jpg);">
                <a href="#" class="desc">
                  <h3>Bob Miller</h3>
                  <span>CEO and Co-Founder</span>
                  <div class="parag">
                    <p>Even the all-powerful Pointing has no control about the blind texts</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
              <div class="staff" class="staff-img" style="background-image: url(images/person_2.jpg);">
                <a href="#" class="desc">
                  <h3>Jean Smith</h3>
                  <span>CEO and Co-Founder</span>
                  <div class="parag">
                    <p>Even the all-powerful Pointing has no control about the blind texts</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
              <div class="staff" class="staff-img" style="background-image: url(images/person_3.jpg);">
                <a href="#" class="desc">
                  <h3>David Wilson</h3>
                  <span>CEO and Co-Founder</span>
                  <div class="parag">
                    <p>Even the all-powerful Pointing has no control about the blind texts</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
   

  <div class="templateux-section">
    <div class="container">
      <div class="row text-center mb-5">
        <div class="col-12">
          <h2>Mutlu Kullanıcılarımız</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8 testimonial-wrap">
          <div class="quote">&ldquo;</div>
          <div class="owl-carousel wide-slider-testimonial">
            <div class="item">
              <blockquote class="block-testomonial">
                <p>&ldquo;Bu uygulama sayesinde hayalimdeki işi buldum! Büyük bir teknoloji firmasında çalışmak istiyordum ve uygulama bana tam da istediğim pozisyonu önerdi. Gerçekten inanılmaz bir deneyim, teşekkür ederim!&rdquo;</p>
                <p><cite>Ayşe Kaya</cite></p>
              </blockquote>
            </div>

            <div class="item">
              <blockquote class="block-testomonial">
                <p>&ldquo;Kendime uygun iş fırsatlarını aramak zor bir süreçti, ancak bu uygulama gerçekten işimi kolaylaştırdı. Bir finans şirketinde mükemmel bir pozisyon buldum ve başvurumu yaparken uygulamanın sağladığı rehberlik çok değerliydi. Şimdi hayalimdeki kariyere bir adım daha yakınım.&rdquo;</p>
                <p><cite>Mehmet Metin</cite></p>
              </blockquote>
            </div>

            <div class="item">
              <blockquote class="block-testomonial">
                <p>&ldquo;Uzun bir süre boyunca iş aradım ve sonunda bu uygulamayı keşfettim. Deneyimlerime ve yeteneklerime dayalı olarak bana önerilen iş fırsatları gerçekten beni yansıtıyordu. Şimdi bir küresel perakende şirketinde çalışıyorum ve kariyerim için bu uygulamayı keşfettiğim için çok mutluyum.&rdquo;</p>
                <p><cite>Elif Ayça Yerebasmaz</cite></p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .templateux-section -->

  



{% endblock %}