{% extends 'base.html' %}

{% load static %}
 
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      
<div class="templateux-cover" style="background-image: url({% static 'images/hero_1.jpg' %});">
    <div class="container">
      <div class="row align-items-lg-center">

        <div class="col-lg-6 order-lg-1">
          <h1 class="heading mb-3 text-white" data-aos="fade-up"><strong>Kariyer Öneri</strong> ile hangi işe gireceksiniz keşfedin</h1>
          <p class="lead mb-5 text-white" data-aos="fade-up"  data-aos-delay="100">İş arayışınızda en etkin şekilde doğru işi bulmanız için doğru sayfadasınız.</p>
          {% comment %} <p data-aos="fade-up" data-aos-delay="200"><a href="#" class="btn btn-primary py-3 px-4 mr-3">Get Started</a> <a href="#" class="text-white">Learn More</a></p> {% endcomment %}
        </div>
        
      </div>
    </div>
  </div>
  <div class="container mt-5 mb-3">
    <div class="row">


      
      {% for value in data %}
      <div class="col-md-4">
          <div class="card p-3 mb-2">
              <div class="d-flex justify-content-between">
                  <div class="d-flex flex-row align-items-center">
                      <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                      <div class="ms-2 c-details">
                        <img src="{{ value.4 }}">
                         
                      </div>
                  </div>
                  
              </div>
              <div class="mt-5">
                  <h3 class="heading">{{ value.0 }}</h3> <!-- description -->
                  <div class="mt-5">
                      
                          <h6 class="heading">
                            {% comment %} {{ value.1|safe }} {% endcomment %}
                          </h6>
                     
                      
                      <div class="mt-3">
                        
                        {{ value.2}}
                      </div>

                      <div class="mt-3">
                        <a class="btn btn-primary" href="{{ value.3}}"> Başvur</a>
                         
                        
                      </div>
                  </div>
              </div>
          </div>
      </div>
  {% endfor %}
   
    </div>
</div>
   
      {% endblock %}