argcomplete==1.10.3
asgiref==3.6.0
beautifulsoup4==4.8.2
chardet==3.0.4
compressed-rtf==1.0.6
contourpy==1.0.7
cycler==0.11.0
Django==4.2.1
docx2txt==0.8
ebcdic==1.1.1
extract-msg==0.28.7
fonttools==4.39.4
IMAPClient==2.1.0
joblib==1.2.0
kiwisolver==1.4.4
lxml==4.9.2
matplotlib==3.7.1
numpy==1.24.3
olefile==0.46
packaging==23.1
pandas==2.0.1
pdfminer.six==20191110
Pillow==9.5.0
pycryptodome==3.18.0
pyparsing==3.0.9
PyPDF2==3.0.1
python-dateutil==2.8.2
python-pptx==0.6.21
pytz==2023.3
scikit-learn==1.2.2
scipy==1.10.1
six==1.12.0
sortedcontainers==2.4.0
soupsieve==2.4.1
SpeechRecognition==3.8.1
sqlparse==0.4.4
textract==1.6.5
threadpoolctl==3.1.0
tzdata==2023.3
tzlocal==5.0.1
xlrd==1.2.0
XlsxWriter==3.1.1
